/*共通*/
:root {
  --primary: #e45858;
  --primary-light: #e39999;
  --white: #eeeeee;
  --black: #333333;
  --gray: #555555;
}

* {
  margin: 0;
  font-family: "Noto Sans JP";
  font-size: 20px;
  color: var(--white);
}

body {
  background-color: var(--black);
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

a {
  color: var(--white);
  text-decoration: none;
}

img {
  max-width: 100%;
}

.button {
  display: inline-block;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 7px;
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.1);
}

/*ページ体裁*/
.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 35em;
  padding: 10px;
}

@media all and (max-width: 45em) {
  .main {
    width: calc(100vw - 20px);
  }
}

/*ヘッダー、フッター*/
header,footer {
  width: calc(100vw - 40px);
  background-color: var(--gray);
  color: var(--white);
  border-bottom: solid 2px var(--primary);
  border-top: solid 2px var(--primary);
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

header img {
  height: 40px;
}

ul.nav {
  list-style-type: none;
  padding: 0;
}

ul.nav li {
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.title img {
  height: 40px;
}

/*その他*/
::selection {
  background-color: var(--primary-light);
  color: var(--white);
}
