:root {
  --primary: #e45858;
  --primary-light: #e39999;
  --white: #eeeeee;
  --black: #333333;
  --gray: #555555;
}

* {
  margin: 0;
  font-family: "Noto Sans JP";
  font-size: 20px;
  color: var(--white);
}

body {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100vw;
  background-color: var(--gray);
  color: var(--white);
  border-bottom: solid 2px var(--primary);
  border-top: solid 2px var(--primary);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul.nav {
  list-style-type: none;
  padding: 0;
}

ul.nav li {
  display: inline-block;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 7px;
  margin: 10px;
  transition: transform 0.3s;
}

ul.nav li:hover {
  transform: scale(1.1);
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 35em;
  padding: 10px;
}

@media all and (max-width: 35em) {
  .main {
    width: calc(100vw - 20px);
  }
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

a {
  color: var(--white);
  text-decoration: none;
}

::selection {
  background-color: var(--primary-light);
  color: var(--white);
}
