/*共通*/
:root {
  --primary: #e45858;
  --primary-light: #e39999;
  --secondary: #1ba7a7;
  --white: #f4f5f7;
  --black: #333333;
  --gray: #ecedef;
  --clear-gray: rgba(228,229,231,0.5);
}

* {
  margin: 0;
  font-family: "Noto Sans JP";
  font-size: 20px;
  color: inherit;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black);
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

a {
  color: var(--white);
  text-decoration: none;
}

img {
  max-width: 100%;
}

.button {
  display: inline-block;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 7px;
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  transform: scale(1);
}

.button.white {
  background-color: var(--white);
  color: var(--primary);
}

.button.black {
  background-color: var(--black);
  color: var(--primary);
}

.button.secondary {
  background-color: var(--secondary);
  color: var(--white);
}

/*ページ体裁*/
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 35em;
  padding: 10px;
}

@media all and (max-width: 45em) {
  .main {
    width: calc(100% - 20px);
  }
}

/*ヘッダー、フッター*/
header,footer {
  width: calc(100% - 40px);
  background-color: var(--clear-gray);
  border-top: solid 3px var(--primary);
  border-bottom: solid 3px var(--primary);
  color: var(--black);
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(15px);
}

.header-area {
  height: 300px;
  width: 100%;
  position: absolute;
}

.header-first-position {
  height: 89px;
}

@media all and (max-width: 435px) {
  .header-first-position {
    height: 149px;
  }
}

ul.nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.title img {
  height: 50px;
}

@media all and (max-width: 600px) {
  .icon {
    display: none;
  }
}

/*その他*/
::selection {
  background-color: var(--primary-light);
  color: var(--white);
}
